In [1]:
from datetime import date

In [54]:
class Om:
    def __init__(self,nume="Unknown",prenume="Unknown",data_nasterii=date.today()):
        self.__nume = nume
        self.__prenume = prenume
        self.__data_nasterii = data_nasterii
        
    def calculeaza_varsta(self):
        today = date.today()
        return today.year - self.__data_nasterii.year - ((today.month, today.day) < (self.__data_nasterii.month, self.__data_nasterii.day))
    
    def print_om_data(self):
        born = self.__data_nasterii.strftime("%d/%m/%Y")
        print(f"Nume: {self.__nume} nascut {born}")

In [55]:
class Elev(Om):
    def __init__(self,nume="Unknown",prenume="Unknown",data_nasterii=date.today(),clasa=0,nota_medie=0):
        super().__init__(nume,prenume,data_nasterii)
        self.__clasa = clasa
        self.__nota_medie = nota_medie
        
    def este_eminent(self):
        if self.__nota_medie >= 9:
            print("Este eminent")
        else:
            print("Nu este eminent")
            
    def print_elev_data(self):
        super().print_om_data()
        print(f"Clasa: {self.__clasa}\nNota: {self.__nota_medie}")

In [56]:
class Profesor(Om):
    def __init__(self,nume="Unknown",prenume="Unknown",data_nasterii=date.today(),discipline=[],salariu=0):
        super().__init__(nume,prenume,data_nasterii)
        self.__discipline = discipline
        self.__salariu = salariu
        
    def salariu_anual(self):
        return self.__salariu * 12
    
    def numar_discipline(self):
        return len(self.__discipline)
    
    def print_profesor_data(self):
        super().print_om_data()
        print("Discipline:", ', '.join(self.__discipline))
        print(f"Salariu: {self.__salariu}")

In [10]:
from datetime import datetime

In [57]:
un_om = Om('Ana','Banana',datetime.strptime('16/09/2019', '%d/%m/%Y'))
un_om.print_om_data()
un_om.calculeaza_varsta()

Nume: Ana nascut 16/09/2019

1

In [62]:
un_elev = Elev('Ana','Banana',datetime.strptime('16/04/2005', '%d/%m/%Y'),10,8)
un_elev.print_elev_data()
un_elev.este_eminent()
un_elev.calculeaza_varsta()

Nume: Ana nascut 16/04/2005
Clasa: 10
Nota: 8
Nu este eminent

16

In [60]:
un_profesor = Profesor('Ana','Banana',datetime.strptime('16/09/1988', '%d/%m/%Y'), ['Chimie','Biologie'], 2000)
un_profesor.print_profesor_data()
print("Salariu anual:", un_profesor.salariu_anual())
print("Numar discipline: ", un_profesor.numar_discipline())
un_profesor.calculeaza_varsta()

Nume: Ana nascut 16/09/1988
Discipline: Chimie, Biologie
Salariu: 2000
Salariu anual: 24000
Numar discipline:  2

32